body {
   background-color: #ffd500;
   color: #07892c;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
   background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M%200%20256%20L%20512%20256%20M%20256%200%20L%20256%20512%22%20stroke%3D%22%23fae05d%22%20stroke-width%3D%222.01px%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke-linecap%3D%22square%22%20%2F%3E%3C%2Fsvg%3E');
   background-size: 82px;
   background-position: center;
   background-repeat: repeat;
}

main {
   background-color: #ffffff;
   border-radius: 40px;
   border-bottom: 4px solid #087167;
   box-shadow: 0 5px 20px #c06300;
   margin: 20px auto;  
   width: 90%;
   max-width: 700px;
   
}

.content {
   padding:20px;
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px) and ( max-width: 980px) {
   main {
      max-width: 980px;
      width: 75%;
   }
   table{
      font-size: 0.8rem;
   }
}

/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px) and ( max-width: 600px) {
   main {
      max-width: 600px;
      width: 70%;
   }
   table{
      font-size: 0.6rem;
   }
}

header nav a {
   background-color: #ffffff;
   border-radius: 15px;    
   box-shadow: 0 5px 5px #c06300;
   color: #087167;
   font-size: 20px;
   line-height: 40px;
   margin: 5px;
   padding: 5px 20px;
   text-decoration: none;
   width: fit-content;
}

footer {
   margin: auto 15%;
}

footer nav a {
   background-color: #ffffff;
   border-radius: 15px;    
   box-shadow: 0 5px 5px #c06300;
   color: #087167;
   line-height: 40px;
   margin: 3px;
   padding: 5px 20px;
   text-decoration: none;
   width: fit-content;   
}

figure {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align:center;
   margin: 0 auto;
}

figure img {
   border-radius: 30px;
   height:300px;
   max-width: 450px;
   object-fit: cover;
   width: 100%;
}

#introduction-form img {
   border-radius: 30px;
   height:100%;
   width:auto;
   max-width: 400px;
   width: 100%;
}

figcaption {
   display: block;
   width: 100%;
   font-style: italic;
   padding-top: 5px;
}

ol, .salary {
   text-align: left;
}

table {
   border-collapse: collapse;
   width: 90%;
   max-width: 700px; 
   margin: auto;
}

thead, tbody, td, th {
   border: 1px solid green;
   max-width: fit-content;
   
}
td, th{
   padding: 10px;
}

th{
   background-color: #07892c;
   color: #ffffff;
}

tr:nth-child(even){
   background-color: #a0c4b2;
   color: #fff; 
}

tr .category {
   background-color: white;
   color: #07892c;
}

.total {
   text-align: right;
}

#introduction-form {
   text-align: left;
}

#introduction-form label {
   font-size: 20px;
   font-variant:small-caps;
   font-weight: bold;
   letter-spacing: 2px;
}

#introduction-form input[type="text"], #introduction-form input[type="file"] {
   border-radius: 15px;
   font-family: system-ui;
   font-size: 15px;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   letter-spacing: 3px;
   color:#07892c;
   border: 1px solid #a0c4b2;
   width:100%;
   max-width: 200px;
   height: 30px;
   padding-left:  10px;
}

#introduction-form input[type="file"] {
   width:100%;
   max-width: 300px;
}

#introduction-form textarea{
   text-align: left;
   display: block;
   box-sizing:border-box;
   font-family: system-ui;
   font-size: 15px;
   padding: 5px;
   width: 100%;
   max-width: 500px;
   border-radius: 15px;
   border: 1px solid #a0c4b2;
   color:#07892c;
}

#introduction-form input[type="button"], #introduction-form input[type="submit"], input[type="reset"], #introduction-form input[type="submit"] {
   background-color: #07a31c;
   border-radius: 15px;    
   color: #ffffff;
   font-size: 15px;
   line-height: 25px;
   margin: 5px;
   padding: 0px 20px;
   text-decoration: none;
   width: fit-content;
   font-weight: bold;
   font-variant: small-caps;
}

#introduction-form input[id="delete"] {
   background-color: #f13d5b;
   margin-bottom: 20px;
}

input[type="reset"] {
   background-color: #2f77eb;
}

#introduction-form input[class="courseNum"] {
   max-width: 100px;
}

#introduction-form input[class="courseName"] {
   max-width: 350px;
}

#introduction-form li[class="courseEntry"] {
   background-color: #e2eee8;
   padding: 10px;
   padding-top: 0px;
   border-radius: 10px;
}

h1 { 
   color: #ffffff; 
   font-size: 3rem;
   font-variant: small-caps;
   height: auto;
   line-height: 50px;
   margin: 20px 15%;
   padding: 20px;
   text-shadow: 0 2px 10px #c06300; 
}

h2 {
   font-variant: small-caps;
}

h3 {
   text-align: left;
}

h3 a {
   color: #07892c;
   text-decoration: none;
}

ul {
   text-align: left;
}

i {
   opacity: 50%;
}

.charlotte {
   border-bottom: 4px solid #07a31c;
}

.github {
   border-bottom: 4px solid #ffaf24;
}

.fcc {
   border-bottom: 4px solid #10294f;
}
 
.codeacademy {
   border-bottom: 4px solid #5739c3;
}

.linkedin {
   border-bottom: 4px solid #2f77eb;
}