@font-face {
   font-family: "Alkatara-Bold";
   src: url("../font/Alkatra-Bold.ttf");
}

@font-face {
   font-family: "Alkatara-Regular";
   src: url("../font/Alkatra-Regular.ttf");
}

@font-face {
   font-family: "Caveat-Regular";
   src: url("../font/Caveat-Regular.ttf");
}

@font-face {
   font-family: "Inter-ExtraLight";
   src: url("../font/Inter_28pt-ExtraLight.ttf");
}

@font-face {
   font-family: "Inter-Regular";
   src: url("../font/Inter_24pt-Regular.ttf");
}

html {
   scroll-behavior: smooth;
}

header,
main,
footer {
   width: 100%;
   max-width: 70%;
   margin: auto;
}


header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   top: 0;
   width: 100%;
   max-height: fit-content;
   background-color: #ffffff;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
}



body {
   font-family: "Inter-Regular", system-ui, sans-serif;
   font-size: 25px;
   margin: auto;
   background-color: #bedaeb;
   background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M%200%20256%20L%20512%20256%20M%20256%200%20L%20256%20512%22%20stroke%3D%22%23a2c8df%22%20stroke-width%3D%222.01px%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke-linecap%3D%22square%22%20%2F%3E%3C%2Fsvg%3E');
   background-size: 82px;
   background-position: center;
   background-repeat: repeat;
}

footer {
   z-index: -3;
   left: 15%;
   position: absolute;
   margin-top: -20px;
   background-color: #053d92;
   color: #ffffff;
   font-family: "Inter-ExtraLight";
   font-size: 20px;
   text-align: center;
   padding: 30px 0px 70px;
}

footer p {
   width: 80%;
   margin: 30px auto;
}

footer a {
   text-decoration: none;
   color: #ffffff;
   background-color: #1958b6;
   padding: 5px;
   margin: 2px;
   border-radius: 10px;
}

nav {
   width: fit-content;
   max-width: auto;
   height: 100px;
   padding-right: 20px;
   display: inline;
}

nav>ul {
   display: flex;
   justify-content: space-evenly;
   gap: 20px;
   flex-wrap: wrap;
   align-items: center;
   padding-inline-start: 0;
   margin-block: 0;
   height: 100%;
}

nav>ul>li {
   color: #000000;
   margin: 0 0.2rem;
   padding: 5px 15px;
   display: block;
   font-size: 20px;
   border-radius: 5px;
}

nav>ul>li:hover {
   background-color: #053d92;
   color: #ffffff;
   cursor: pointer;
}

li>a,
#project-links>a {
   color: inherit;
   text-decoration: none;
}

section {
   display: block;
   background-color: #ffffff;
   border-radius: 30px;
   margin-top: -50px;
   padding: 20px;
}

span {
   line-height: 50px;
   padding: 0px 10px;
   margin: 4px;
   border-radius: 5px;
   display: inline-block;
   box-shadow: inset 0px 0px 15px #ffffff;
}

h1 {
   color: #000000;
   font-size: 50px;
   text-align: center;
   width: fit-content;
   padding: 0.4rem;
   padding-left: 30px;
   font-family: "Caveat-Regular";
}

h2 {
   font-size: 60px;
   margin: 0;
   font-family: "Alkatara-Bold", sans-serif;
}

h3 {
   font-size: 40px;
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: "Alkatara-Regular", sans-serif;
   font-weight: -0.5px;
   line-height: 40px;
   text-align: center;
}

p {
   font-family: "Inter-ExtraLight";
}

img {
   border-radius: 15px;
   width: auto;
   max-width: 100%;
   margin: auto;
   display: block;
}

.background-image {
   height: 100%;
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   position: relative;
   top: -30px;
   z-index: -1;
}

.tall {
   max-height: 600px;
}



#project-links>a {
   box-sizing: border-box;
   display: flex;
   height: 150px;
   padding: 30px;
   font-size: 50px;
   margin-bottom: 10px;
   border: 2px solid #d4d4d4;
   box-shadow: 1px 2px 10px 3px #d4d4d4;
   border-radius: 15px;
   align-items: center;
   justify-content: space-between;
}

#project-links>a>img {
   max-height: 100%;
   max-width: 100%;
   margin: 0px;
}

.row {
   margin: auto;
   max-width: 80%;
}

#hey-there-section>.row {
   padding-top: 30px;  
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

.column {
   float: left;
   padding: 10px;
}

.left {
   width: 40%;
}

.right {
   width: 50%;
}

.center {
   width: 100%;
   max-width: 50%;
   margin: auto;
}

#portrait-image {
   margin: auto;
   display: block;
   width: 80%;
}

#portrait-caption {
   font-size: 20px;
   font-style: italic;
   text-align: center;
   font-family: "Alkatara-Regular";
   letter-spacing: 2px;
}

.quick-links {
   width: 70%;
   margin: auto;
}

.quick-links>ul {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   padding-inline-start: 0;
   margin-block: 0;
   height: 100%;
   gap: 10px
}

.quick-links>ul>li {
   padding: 5px 30px;
   display: block;
   font-size: 30px;
   border-radius: 15px;
   border: 2px solid #d4d4d4;
   box-shadow: 1px 2px 10px 3px #d4d4d4;
}

#contact-form {
   text-align: left;
   font-family: "Inter-Regular", sans-serif;
}

#contact-form label {
   font-size: 30px;
   letter-spacing: 2px;
   margin-bottom: 10px;
}

#contact-form input:not([type="button"]):not([type="reset"]):not([type="submit"]), textarea {
   box-sizing: border-box;
   font-family: "Inter-ExtraLight", sans-serif;
   font-size: 25px;
   padding: 10px;
   border-radius: 10px;
   border: 1px solid #000000;
   margin-bottom: 20px;
   width: 50%;
   max-width: 100%;
}

#contact-form textarea {
   width: 100%;
}

#contact-form input[type="button"],[type="reset"],[type="submit"]{
   font-family: "Inter-ExtraLight", sans-serif;
   background-color: #175abe;
   color: #ffffff;
   font-weight: bold;
   border: 0px;
   display: inline;
   padding: 10px;
   width: fit-content;
   border-radius: 10px;
   font-size: 20px;
   font-weight: bold;
}

[type="reset"] {
   background-color: #d31736;
}


.active {
   display: block;
}

.inactive {
   display: none;
}

.top-button {
   float: right;
}

.back-button,
.top-button,
.details-button {
   box-sizing: border-box;
   padding: 10px 12px;
   font-size: 30px;
   border-radius: 100%;
   background-color: #175abe;
   color: #ffffff;
   align-items: center;
   display: flex;
   justify-content: center;
   text-decoration: none;
   width: fit-content;
}


a:hover,
.quick-links>ul>li:hover {
   transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
   transform: scale(1.03);
   cursor: pointer;
}


.indented {
   margin-top: 0px;
   margin-left: 30px;
}

#frame {
   box-sizing: border-box;
   border: 2px dotted  #b4b4b4;
   height: 100%;
   max-height: 100px;
   object-fit: cover;
   position: relative;
   padding: 10px;
   margin-left: 0px;
}

#submit-status {
   font-family: "Inter-Regular", sans-serif;
   display: none;
   color: #1958b6;
   height: fit-content;
   
   max-width: max-content;
   font-size: 20px;
   margin-left: 10px;
   text-align: right;
   font-style: italic;
}

#reset-button:hover {
   background-color: #b90e2b;
}

#submit-button:hover{
   background-color: #0b49a7;
}

@media screen and (min-width: 2000px) {
   header,
   main,
   footer {
      max-width: 50%;
   }

   footer {
      left: 25%;
   }

   #portrait-caption {
      font-size: 30px;
   }

   body {
      font-size: 30px;
   }

   #contact-form input[type="button"],[type="reset"],[type="submit"], nav>ul>li {
      font-size: 25px;
   }
}

/* Rule Overrides For Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 980px) {

   header,
   main,
   footer {
      max-width: 90%;
   }

   header {
      flex-direction: column;
   }

   footer {
      left: 5%;
   }

   #logo {
      margin-top: 10px;
      margin-bottom: 0px;
   }

   nav {
      height: fit-content;
      padding-right: 0px;
      padding-bottom: 30px;
   }

   nav>ul {
      height: fit-content;
   }

   .row {
      max-width: 100%;
   }

   .center {
      max-width: 80%;
   }
}

/* Rule Overrides For Mobile Devices */
@media screen and (min-width: 370px) and (max-width: 600px) {

   header,
   main,
   footer {
      max-width: 90%;
   }

   header {
      flex-direction: column;
   }

   footer {
      left: 5%;
   }

   #logo {
      margin-top: 10px;
      margin-bottom: 0px;
   }

   nav {
      height: fit-content;
      padding-right: 0px;
      padding-bottom: 30px;
   }

   nav>ul {
      height: fit-content;
   }

   .row {
      max-width: 100%;
      display: flex;
      flex-direction: column;
   }

   .left,
   .right {
      width: 90%;
      margin: auto;
      padding: 0px;
   }

   .image-wrapper {
      overflow: hidden;
   }

   .tall {
      transform: scale(1.75);
   }

   .center {
      max-width: 80%;
   }

   #project-links>a {
      flex-direction: column;
      height: fit-content;
   }

   #contact-form input:not([type="button"]):not([type="reset"]):not([type="submit"]), textarea {
      width: 100%;
   }

   #contact-form input[type="button"],[type="reset"],[type="submit"]{
      width: 100%;
      padding: 10px 0px;
      font-size: 25px;
      margin-bottom: 20px;

   }
}