<footer>
    <nav>
        <a href="../" target="_blank" class="charlotte">My Homepage</a>
        <a href="https://github.com/jinyayuu" target="_blank" class="github">Github</a>
        <a href="https://jinyayuu.github.io/" target="_blank" class="github">Github.io</a>
        <a href="https://www.freecodecamp.org/ayang27" target="_blank" class="fcc">freeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/ayang27" target="_blank" class="codeacademy">Codeacademy</a>
        <a href="https://www.linkedin.com/in/angelaya280/" target="_blank" class="linkedin">LinkedIn</a>
    </nav>
    <p class="center">Designed By <a href="angelainnovations.co/">Angela Innovations</a> &copy;2025</p>
    <p class="center"><i>Certified in <a href="https://www.freecodecamp.org/certification/ayang27/responsive-web-design">Responsive Web Design</a></i></p>
</footer>