<footer>
    <nav>
        <a href="../" target="_blank" class="charlotte">My Homepage</a>
        <a href="../angelicyak/" target="_blank" class="angelic">Angelic Yak Brand</a>
        <a href="https://github.com/jinyayuu" target="_blank" class="github">Github Repo</a>
        <a href="https://jinyayuu.github.io/" target="_blank" class="github">Github Pages</a>
        <a href="https://www.freecodecamp.org/ayang27" target="_blank" class="fcc">freeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/ayang27" target="_blank" class="codeacademy">Codeacademy</a>
        <a href="https://www.linkedin.com/in/angelaya280/" target="_blank" class="linkedin">LinkedIn</a>
    </nav>
    <p>Designed By <a href="angelainnovations.co/">Angela Innovations</a> &copy; 2025</p>
    <a id="validation-button-html">
        <img src="images/htmlValidationButton.png" alt="html validation button">
    </a>
    <a id="validation-button-css">
        <img src="images/cssValidationButton.png" alt="css validation button">
    </a>
</footer>