<header>
    <h1>Angela Yang's Angelic Yak || ITIS 3135</h1>
    <nav>
        <a href="./">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="website_evaluations.html">Website Evaluations</a>
        <a href="tables.html">HTML Table</a>
        <a href="byo_intro.html">BYO Intro</a>
        <a href="project_overview.html">Project Overview</a>
        <a href="slideshow.html">Slideshow</a>
    </nav>
    <nav>
        <a href="../angelicyak/" target="_blank" class="angelic">Angelic Yak</a>
        <a href="stuff/!N%20deX.htm" target="_blank" class="angelic">CRAPPY Webpage</a>
        <a href="hobby/" target="_blank">Hobby Site</a>
        <a href="/stevenyang.co/index.html" target="_blank">Client Project</a>
    </nav>
</header>